# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

USER_PG_PORT=8869
USER_PG_USER=postgres
USER_PG_PASSWORD=root
USER_PG_DB=postgres
USER_PG_URL=postgresql://${USER_PG_USER}:${USER_PG_PASSWORD}@localhost:${USER_PG_PORT}/postgres
USER_DB_CONTAINER_PREFIX=mb-


